<form method="post" action="/post_comment/<%= @message_id %>">
  <label for="comment">Comment on '<%= @message %>'
    <input name="comment" id="comment">
    <input type="submit" value="Add Comment">
  </label>
</form>